In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cnaes_municipios.csv')

Columnas:
- 41 = Construção de edifícios
- 42 = Obras de Infraestrutura
- 43 = Serviços especializados para construção

In [3]:
df.head()

   codigo_ibge    41   42     43
0      4200051   NaN  NaN   15.0
1      4200101  24.0  8.0  152.0
2      4200200   6.0  2.0  146.0
3      4200309  15.0  NaN   32.0
4      4200408   3.0  1.0   71.0